appdirs==1.4.4
blinker==1.8.2
certifi==2024.7.4
click==8.1.7
Flask==3.0.3
importlib_metadata==8.2.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pip==24.0
pyee==11.1.0
pyppeteer==2.0.0
python-dotenv==1.0.1
setuptools==72.1.0
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==1.26.19
websockets==10.4
Werkzeug==3.0.3
wheel==0.43.0
zipp==3.19.2
