body {
  font-family: 'Noto Sans KR', 'Roboto', Arial, sans-serif;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 450px;
  margin: 0;
  border-radius: 10px;
  color: #091a36;
  overflow: hidden;
}

.container {
  text-align: center;
  background-color: #f6f6f6;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 320px;
  max-width: 320px; /* Ensure the container width remains fixed */
}

.logo {
  width: 60%;
  margin-top: 0px;
  margin-bottom: -20px; /* Adjusted margin */
}

.url-display {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 280px; /* Ensure the width of the display area remains fixed */
  margin-left: auto; /* Center the URL display within the container */
  margin-right: auto; /* Center the URL display within the container */
  overflow: hidden; /* Prevent content overflow */
}

.url-text {
  font-size: 18px;
  color: #8B0000;
  font-weight: 700; /* Adjusted weight */
  margin: 0;
  overflow: hidden; /* Ensure the text does not overflow */
  text-overflow: ellipsis; /* Add ellipsis when text overflows */
  white-space: nowrap; /* Prevent the text from wrapping to the next line */
  width: 100%; /* Keep the text within the container */
  text-align: center; /* Center the text */
  display: block;
}

.alert-text {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.highlight {
  color: red;
  font-weight: bold;
}

.redirectButton,
.exitButton {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  font-size: 16px;
  background-color: #8B0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.redirectButton:hover {
  background-color: #a30000;
  transform: scale(1.05);
}

.exitButton {
  background-color: #555;
}

.exitButton:hover {
  background-color: #333;
  transform: scale(1.05);
}

.feedback {
  background-color: #555;
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  font-size: 16px;
  background-color: #a7a7a7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.feedback:hover {
  background-color: #333;
  transform: scale(1.05);
}
