body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  width: 300px;
  height: 400px;
  margin: 0;
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
  overflow: hidden;
  color: #091a36;
}

.container {
  text-align: center;
  background-color: #eff1f7; 
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 300px;
}

.container img {
  max-width: 200px; /* 이미지 크기를 적절하게 조정 */
  height: auto;
  margin-bottom: 15px; /* 이미지와 텍스트 사이에 간격 */
  margin-top: 5px;
}

p {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.url-text {
  color: #ff5722;
  font-weight: bold;
  word-break: break-all;
}

.highlight {
  color: red;
  font-weight: bold;
}

.redirectButton,
.exitButton {
  display: block;
  width: 100%;
  margin: 3px 0;
  padding: 15px;
  font-size: 16px;
  background-color: #1e85ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.redirectButton:hover {
  background-color: hwb(213 12% 10%);
  transform: scale(1.05);
}

.exitButton {
  background-color: #848590;
}

.exitButton:hover {
  background-color: hwb(0 74% 40%);
  transform: scale(1.05);
}

.emoji {
  font-size: 40px;
}

section {
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #ffc0c0; 
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}